$body-bg: #FFF7FC;
@import '~bootstrap/scss/bootstrap.scss';
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
$theme-colors: (
    "primary": #5755FE,
    "secondary": #8B93FF,
    "light": #FFF7FC,
    "info": #FF71CD
);
.vh-5 {
    height: 5vh;
}
.vh-95 {
    height: 95vh;
}
.cursor-pointer {
    cursor: pointer;
}
.nav-page {
    cursor: pointer;
}
.nav-page:hover {
    background-color: wheat;
    color: black;
}
.w-fit-content {
    width: fit-content;
}
.spinloader {
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 100vw;
    margin: 0;
    height: 100vh;
    position: absolute;
    display: flex !important;
    align-items: center;
    flex-direction: column;
    background-color: #fffffff1;
    opacity: 0.5;
  }